/*
Estilos da página index.html
*/

.p1{
    text-align: center;
}

.texto {
    font-size: 15px;
    text-align: justify;
}
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    font-size: 20px;
    padding: 30px;
    margin: 30px;
}

#menu li a {
    text-decoration: none;
    color:black;
}

#menu li a:hover {
    color:grey
}

.p-30 {
    padding: 50px;
}

.br-50 {
    border-radius: 100%;
}

.wh-300{
    width: 300px;
    height: 300px;
}

.tamanhoImagem {
    width: 50px;
    height: 50px;
}

/*
Estilos da página contato.htm
*/

