/*
Estilos da página index.html
*/

body{
    background-color: #ffbe76;
}

#menu li{
    display: inline;
    font-size: 30px;
    padding: 30px;
    margin: 30px;   
}

#menu li a:hover {
    color:grey
}

h1{
    font-style: italic;
    font-size: 60px;
    text-align: center;
    color:#e55039;
}

p{
    text-align: center;
    font-size: 30px;
}

.p1{
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}